<app-navbar></app-navbar>

<section class="intro">
  <div class="black-div">
    <div class="intro-box">
      <h2 i18n>Barbería el Museum</h2>
      <h4 i18n>Lorem ipsum dolor sit, amet consectetur adipisicing.</h4>
    </div>
  </div>
</section>
<section class="museum-intro">
  <div>
    <h2 i18n>
      Nuestra historia
    </h2>
    <p i18n>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla, natus aut debitis accusantium soluta, facilis
      laborum vel, quasi tempora expedita dolores enim voluptatum? Exercitationem tempora praesentium culpa optio
      mollitia
      facilis rem velit aliquid? Dolore quisquam voluptas sunt velit accusantium repellat nisi id, deserunt voluptate
      odio
      laboriosam earum aspernatur, facilis consequatur ad fugit obcaecati veritatis sapiente ratione? Libero laborum
      voluptas hic consectetur ducimus, fugit maxime necessitatibus natus in mollitia enim autem id ipsa saepe tempore
      quaerat facere laboriosam illum nisi eligendi! Voluptas, quod est. Praesentium natus sit odio commodi veniam
      nostrum
      nihil odit consectetur eveniet tenetur reiciendis sequi dolor, ipsum eos aut! Tempore cum odit sint architecto
      numquam, ea sed ut eum repudiandae totam maiores accusantium magnam eligendi rerum harum qui sapiente veritatis
      animi maxime minus id ex? Expedita molestias nobis nihil, porro praesentium saepe fugit rerum doloremque, culpa
      quae
      neque voluptate excepturi ea laudantium ab, quidem quaerat repudiandae cupiditate veritatis.
    </p>
  </div>
  <img src="assets/images/brocha.png" alt="brocha">
</section>
<section class="team">
  <div class="carousel">
    <div class="card">
      <img src="assets/images/barbero.png" alt="barbero">
      <h2 i18n>
        Barbero
      </h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, distinctio commodi dolorem, nihil illo maxime,
        repellat ut facere quod minus doloribus ex nesciunt unde magnam?
      </p>
    </div>
  </div>
</section>

<app-footer></app-footer>
